!!!
%html
  %head
    %title Vikas Reddy
    %link(rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" type="text/css" media="all")
    %script(type="text/javascript" src="/assets/javascripts/bootstrap.min.js")
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Vikas Reddy
          .nav-collapse
            %ul.nav.pull-left
              %li
                %a(href="/") Home
              %li
                %a(href="/about") About
              %li
                %a(href="/blog") Blog
              %li
                %a(href="/contact") Contact
          / /.nav-collapse
    .container
      .hero-unit
        .notice-area
        = yield
      %hr/
      %footer
        %p &copy; Vikas Reddy, 2012

